<% if @post.errors.any? %>
    <h2> The following errors prevented the article from saving: </h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="container"> 
<div class="row"> 
    <div class="col-md">
        <%= form_for(@post, :html => { class: "form-horizontal", role: "form" }) do |f| %>
            <div class="form-group">
                <div class="control-label col-md"> 
                    <%= f.label :title %>
                </div>
                <div class="col-md"> 
                    <%= f.text_field :title %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm"> 
                    <%= f.label :description %>
                </div>
                <div class="col-md">
                    <%= f.text_area :description %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2"> 
                    <%= f.submit class: "btn btn-primary" %>
                </div>
            </div>
            <% end %>

            <div class="col">
            <%= link_to 'Back', posts_path %>
            </div>
    </div>
</div>
</div>